body{
    margin: 0;
    
}
@keyframes loder {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#form{
    animation: loder 2s;
    position: absolute;
    margin:15% 37%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: fit-content;
    /* justify-content: center; */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(60, 60, 60);
    background: rgb(197, 197, 197,0.1);
    backdrop-filter: blur(10px);
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#form input{
    width: 400px;
    height: 60px;
    padding: 0px 20px;
    font-size: 30px;
    color: gray;
    background: rgb(197, 197, 197,0.4);
    backdrop-filter: blur(10px);
    opacity: 0.5;
    border:none;
    margin-bottom: 20px;
}
#login{
    font-size: 25px;
    height: 40px;
    width:200px;
    border-radius: 20px;
    color: gray;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
#sign{
    font-size: 25px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: gray;
}
#btn{
    z-index: 999;
    margin-top: 20px;
}

#cir1{
    /* animation: cir1 2s ease-in-out;
    animation-play-state: paused; */
    width: 300px;
    height: 300px;
    background-color: rgb(171, 37, 255);
    border-radius: 50%;
    filter: blur(70px);
    position: absolute;
    top: 400px;
    margin-left: 30%;
    /* margin-bottom: 40%; */
}
.cir1{
    animation: cir1 5s ease-in-out infinite;
    animation-play-state: running;
}
@keyframes cir1 {
    0%{
        top: 400px;
    }

    50%{
        top:200px;
    }
}
.cir2{
    animation: cir2 5s ease-in-out infinite;
}
@keyframes cir2 {
    0%{
        top: 200px;
    }
    50%{
        top:400px;
    }
}
#cir2{
    width: 300px;
    height: 300px;
    background-color: rgb(110, 29, 160);
    border-radius: 50%;
    filter: blur(70px);
    position: absolute;
    top: 200px;
    margin-left: 55%;
    /* margin-bottom: 40%; */
}

@media (max-width:800px) {
    #first{
        width: 100%;
        height: 99vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #form{
        animation: loder 2s;
        position: absolute;
        margin:0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        width: 250px;
    }
    #form input{
        width: 200px;
        height: 30px;
        padding: 0px 20px;
        font-size: 20px;
        background: rgb(197, 197, 197,0.4);
        backdrop-filter: blur(10px);
        opacity: 0.5;
        border:none;
        margin-bottom: 20px;
    }
    #btn{
        margin: auto 10%;
    }
    #login{
        margin: 10px auto;
    }
    #sign{
        background-color: rgb(107, 0, 214);
    }
    #cir1{
        width: 200px;
        height: 200px;
        top: 400px;
        margin-left: 100px ;
    }
    .cir1{
        animation: cir1 5s ease-in-out infinite;
        animation-play-state: running;
    }
    @keyframes cir1 {
        0%{
            top: 400px;
        }
    
        50%{
            top:100px;
        }
    }
    #cir2{
        width: 200px;
        height: 200px;
        top: 100px;
        margin-left: 100px ;
    }
    .cir2{
        animation: cir2 5s ease-in-out infinite;
    }
    @keyframes cir2 {
        0%{
            top: 100px;
        }
        50%{
            top:400px;
        }
    }
}